@using SocialNetworkingApp.Data
@model SocialNetworkingApp.ViewModels.FeedViewModel

@section scripts {
    <script>
        function saveCurrentPage() {
            // Сохраняем URL текущей страницы
            localStorage.setItem('previousPage', window.location.href);
        }
    </script>
}
<div class="col-md-8">
    @foreach (var post in Model.Posts.OrderByDescending(p => p.data.CreatedAt))
    {
        <div class="card mb-3" data-id="@post.data.Id">
            <div class="card-body">
                @if (post.data.TypeId == (int) PostTypeEnum.Profile)
                {
                    <h5 class="card-title"><a class="profile-link" asp-controller="Profile" asp-action="Index" asp-route-userId="@post.data.UserId">@post.data.User.FirstName @post.data.User.LastName</a></h5>
                }
                
                @if (post.data.Image != null)
                {
                    <div class="image-preview-@post.data.Id">
                        <span id="imagePreview-@post.data.Id">
                            <img src="@post.data.Image.ImagePath" class="card-img-top" alt="Post Image">
                        </span>
                        <button type="button" class="btn btn-light btn-sm" id="clear-image-@post.data.Id" style="display:none;"><i class="bi bi-x"></i></button>
                    </div>
                }
                <p class="card-text post-text">@post.data.Text</p>
                @if (post.data.UpdatedAt == default)
                {
                    <span class="card-text"><small class="text-muted time-change">Опубликовано: @post.data.CreatedAt.ToString("dd.MM.yyyy HH:mm")</small></span>
                }
                else
                {
                    <span class="card-text"><small class="text-muted time-change">Изменено: @post.data.UpdatedAt.ToString("dd.MM.yyyy HH:mm")</small></span>
                }

                <a class="comment comment-link" asp-action="Details" asp-controller="Post" asp-route-id="@post.data.Id" fragment="comments" target="_blank" onclick="saveCurrentPage()">Показать комментарии</a>

                @if (post.data.UserId == Model.CurrentUserId)
                {
                    <a class="btn btn-light btn-sm delete-btn" style="float: right; margin-top: 5px;" data-id="@post.data.Id"><i class="bi bi-trash-fill"></i></a>
                    <a class="btn btn-light btn-sm edit-btn" style="float: right; margin-top: 5px;" data-id="@post.data.Id"><i class="bi bi-pen-fill"></i></a>
                }
                <div style="margin-top: 5px;">
                    <span><strong class="likes-count">@post.data.Likes</strong></span>
                    <a asp-route-id="@post.data.Id" class="btn btn-light btn-sm like-btn" style="margin-left: 7px;" data-id="@post.data.Id" data-is-liked="@(post.isLiked ? "true" : "false")">
                        <i class="bi bi-hand-thumbs-up@(post.isLiked ? "-fill" : "")"></i>
                    </a>
                </div>
            </div>

            <!-- Модальное окно -->
            <div class="modal fade" id="modalToggle-post-@post.data.Id" tabindex="-1" role="dialog" aria-labelledby="modalToggleLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalToggleLabel">Изображения пользователя</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row" id="imageContainer-@post.data.Id">
                                <!-- Здесь будут отображаться изображения -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<style>
    .profile-link,
    .comment-link {
        color: black;
    }
</style>