@using SocialNetworkingApp.ViewModels
@model IEnumerable<GifAlbum>
@{

}

@section Scripts {
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Подключение скриптов Bootstrap (jQuery и Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Подключение скрипта Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/imagepreview.js"></script>
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Альбомы</h1>
    @if (TempData["Error"] != null)
    {
        <div class="col-md-12 alert alert-danger">
            <span><b>Извините!</b> - @TempData["Error"]</span>
        </div>
    }
    <div class="text-center mb-4">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addAlbumModal">Создать альбом</button>
    </div>
    
    <div class="modal fade" id="addAlbumModal" tabindex="-1" role="dialog" aria-labelledby="addAlbumModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAlbumModalLabel">Создание альбома</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("_AddAlbumPartial", new AddAlbumViewModel())
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        @foreach (var album in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src=@(album.CoverPath != null ? $"\\{album.CoverPath}" : "https://media.giphy.com/media/3o7abKhOpu0NwenH3O/giphy.gif") class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@album.Name</h5>
                        <p class="card-text">@(album.Description != null ? album.Description : "нет описания")</p>
                        <div class="row">
                            <a asp-action="Detail" asp-route-id="@album.Id" class="btn btn-primary">Открыть</a>
                            @if(!album.IsRequired) 
                            {
                                <a data-toggle="modal" data-target="#deleteAlbumModal_@album.Id" class="btn btn-light like-btn"><i class="bi bi-trash-fill"></i></a>
                                <a data-toggle="modal" data-target="#editAlbumModal_@album.Id" class="btn btn-light like-btn"><i class="bi bi-pen-fill"></i></a>

                                <div class="modal fade" id="deleteAlbumModal_@album.Id" tabindex="-1" role="dialog" aria-labelledby="deleteAlbumModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteAlbumModalLabel">Удаление альбома</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="col-md-12 alert alert-danger">
                                                    <span><b>Внимание!</b> - При удалении альбома также удалятся все фото из него.</span>
                                                </div>
                                                <a class="btn btn-danger" asp-action="DeleteAlbum" asp-route-id="@album.Id">Удалить</a>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                                    Отмена
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="editAlbumModal_@album.Id" tabindex="-1" role="dialog" aria-labelledby="editAlbumModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editAlbumModalLabel">Редактирование альбома</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @await Html.PartialAsync("_EditAlbumPartial", new EditAlbumViewModel {AlbumId = album.Id, Title = album.Name, Description = album.Description, CurrentGif = album.CoverPath})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }             
                        </div>
                    </div>
                </div>
            </div>

            
        }
    </div>
</div>
