@using SocialNetworkingApp.Models
@model ProjectAnnouncement

<li data-announcementId="@Model.Id" style="display: flex; justify-content: space-between; align-items: center;">
    <div>
        <strong> @Model.CreatedAt.ToString("dd.MM.yyyy HH:mm") </strong>
        <span class="description">@Model.Description</span>
    </div>
    
    <div>
        <a class="btn btn-light btn-sm editAnnouncement-btn" style="margin-right: 5px;" data-announcementId="@Model.Id">
            <i class="bi bi-pen-fill"></i>
        </a>
        <a class="btn btn-light btn-sm deleteAnnouncement-btn" data-announcementId="@Model.Id">
            <i class="bi bi-trash-fill"></i>
        </a>
    </div>
    
</li>